/*-- Ejercicio de practica de todos los hijos*/
.selectorCadenadescendente h2 {
    background-color: blue;
    height: 100px;
}

.todosLoshijos>div>div>h2 {
    background-color: blue;
    height: 100px;
}

/*-- Ejercicio de practica de Padding y margin*/
.section1 {
    color: black;
    background-color: yellow;
    margin: 20px;
    height: 200px;

}

.section2 {
    color: black;
    background-color: yellow;
    padding: 20px;
    height: 200px;
}

/*-- Ejercicio de practica Displays Inline y Block*/
.displayBlockEinline1>p {
    background-color: orangered;
}

.displayBlockEinline1 a {
    background-color: palevioletred;
}

.displayBlockEinline1 h1 {
    background-color: orange;
}

.displayBlockEinline1 h3 {
    background-color: yellow;
}

.displayBlockEinline1 h6 {
    background-color: green;
}

.displayBlockEinline1 p {
    background-color: green;
}

.displayBlockEinline2 p {
    background-color: orangered;
    display: inline;
}

.displayBlockEinline2 a {
    background-color: palevioletred;
    display: block;
}

.displayBlockEinline2 h1 {
    background-color: orange;
    display: inline;
}

.displayBlockEinline2 h3 {
    background-color: yellow;
    display: inline;
}

.displayBlockEinline2 h6 {
    background-color: green;
    display: inline;
}

.displayBlockEinline2 div {
    background-color: green;
    display: inline;
}

/* ejercicio 1 flex practicas */
.porcentajes {
    display: flex;
    /* flex-direction: row; (por defecto viene en row*/
}

.divp1 {
    width: 20%;
    border: 2px solid black;
}

.divp2 {
    width: 30%;
    border: 2px solid black;
}

.divp3 {
    width: 50%;
    border: 2px solid black;
}

/* ejercicio 2 */

.altura {
    display: flex;
    flex-direction: column;
}

.altura1 {
    width: 100px;
    border: 3px solid yellow;
}

.altura2 {
    width: 200px;
    border: 3px solid yellow;
}

.seccion3 {
    display: flex;
    border: 5px solid black;
}

.divFila1 {
    width: 40%;
    border: 4px solid red;
}

.divFila2 {
    width: 60%;
    display: flex;
    border: 4px solid red;
}

.divFila2 p {
    width: 50%;
    border: 2px solid yellow;
}

@media (max-width: 350px) {
.mediaqueris {
background-color: red;
}

}

.ejercicioAR {
    height: 500px;
    background-color: blue;
    position: relative;
    background: rgba(206,166,9,1);
    background: -moz-linear-gradient(left, rgba(206,166,9,1) 0%, rgba(161,132,2,1) 38%, rgba(122,100,0,1) 51%, rgba(187,154,7,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(206,166,9,1)), color-stop(38%, rgba(161,132,2,1)), color-stop(51%, rgba(122,100,0,1)), color-stop(100%, rgba(187,154,7,1)));
    background: -webkit-linear-gradient(left, rgba(206,166,9,1) 0%, rgba(161,132,2,1) 38%, rgba(122,100,0,1) 51%, rgba(187,154,7,1) 100%);
    background: -o-linear-gradient(left, rgba(206,166,9,1) 0%, rgba(161,132,2,1) 38%, rgba(122,100,0,1) 51%, rgba(187,154,7,1) 100%);
    background: -ms-linear-gradient(left, rgba(206,166,9,1) 0%, rgba(161,132,2,1) 38%, rgba(122,100,0,1) 51%, rgba(187,154,7,1) 100%);
    background: linear-gradient(to right, rgba(206,166,9,1) 0%, rgba(161,132,2,1) 38%, rgba(122,100,0,1) 51%, rgba(187,154,7,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cea609', endColorstr='#bb9a07', GradientType=1 );
}
.ejercicioAR div {
    width: 40px;
    height: 40px;
    background-color: red;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.ejercicioGrid div{
    border: 1px solid black;
}

.ejercicioGrid {
    display: grid;
    /* grid-template-columns: 50% 50%; */
    grid-template-columns: 2fr 6fr;
    grid-template-rows: 50px 300px 100px 200px;
}

.ejercicioGrid2 div{
    border: 2px solid blue
    
}
.ejercicioGrid2{
    height: 500px;
    display: grid;
    grid-template-columns: 100fr 300fr 200fr 150fr;
    grid-template-rows: 5fr 15fr 16fr 7fr;
    /* column-gap: 15px;
    row-gap: 15px; 
    COLUMN DROP
    .SELECTOR-ELEMENTO-PADRE{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 3rem;
    }
    
    .SELECTOR-ELEMENTO-HIJO1{
    grid-column: 1/3; VER CON FIREFOX DEVELOPER EDITION
    grid-row: 1/3;
    }

    ME PERMITE UBICAR EL ELEMENTO HIJO EN CUALQUIER PARTE
    DE LA ESTRUCTURA QUE HEMOS CREADO CON EL PADRE
} maneras de dar espacio a las filas y columnas */
.ejercicioRepeat div{
    background-color: yellow;
    border: 2px solid black
}
.ejercicioRepeat{
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid grid-template-rows: 2fr 2fr;
    
}

/* display:grid;
grid-template-row: 200px 200px;
grid-template-columns: 300px 300px;

grid: 200px 200px / 300px 300px; ABREVIAR LO ANTERIOR, LO MISMO

PODEMOS PONER UNIDADES DE MEDIDAS EN PORCENTAJE

grid: 50% 50% / 50% 50%;

TAMBIEN CON FRACCIONES FR

grid: 1fr 1fr / 1fr 1fr;

OTRA ALTERNATIVA

grid: repeat(2, 1fr) / repeat(2, 1fr); IMPORTANTE */
